@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");
@import url("http://fonts.cdnfonts.com/css/eurostile-extended");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  /* height: 100vh; */
  background-color: #191c32;
  color: #fff;
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 100px;
}
.brand img {
  width: 100px;
}
.list-ul {
  display: flex;
  /* width: 60%; */
  gap: 10px;
}
.list-ul li {
  list-style: none;
}
.list-ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 10px;
}

.list-ul a:hover {
  background-color: #6ec9fe;
  color: #191c32;
  transition: ease-in 0.4s;
  padding: 5px;
}
.toggle-menu {
  display: none;
}

/* body */
.main {
  display: grid;
  grid-template-columns: 100vw;
  align-items: center;
  justify-items: center;
}
.info-content {
  width: 65%;
  text-align: center;
  padding: 3rem 3rem;
  margin-top: 3rem;
}
.info-content h1 {
  font-size: 2rem;
  font-family: "Eurostile Extended", sans-serif;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.info-content h2 {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: lighter;
}
.container-avatar {
  margin-top: -40px;
  margin-bottom: 20px;
}
.container-avatar img {
  width: 250px;
}
span {
  color: #6ec9fe;
}

/* section sobre mi */
.about-info {
  width: 100%;
  background-color: #100220fe;
  display: grid;
  justify-items: center;
}
.container-info {
  width: 70%;
  text-align: center;
  padding: 30px;
}
.container-info h1 {
  margin: 30px 0 10px 0;
  font-family: "Eurostile Extended", sans-serif;
  letter-spacing: 4px;
  font-size: 2rem;
}
.container-info p {
  padding: 30px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}
.download-cv {
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  background-color: #191c32;
  border: none;
  border-radius: 25px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(129, 184, 248, 0.69);
}
.download-cv:hover {
  background-color: #6ec9fe;
  box-shadow: none;
  color: #000;
}

/* section skills */

.section-skills {
  margin-top: 50px;
  display: flex;
  width: 100%;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.container-devices {
  width: 40%;
  height: 100%;
}
.img-chat {
  position: relative;
  right: 90px;
  top: -40px;
}
.container-devices img {
  width: 90%;
  opacity: 0.8;
}
.section-skills .container-card {
  width: 35%;
  gap: 0;
  box-shadow: 6px 6px 10px #6ec9fe;
}
.container-card {
  background-color: transparent;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
}
.container-card img {
  width: 80px;
}
.container-card h2 {
  font-family: "Eurostile Extended", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.container-card p {
  margin-top: -30px;
  width: 410px;
  font-size: 18px;
  text-align: -webkit-center;
  font-weight: 600;
}
.container-skills {
  margin-top: 40px;

  display: flex;
  justify-content: space-around;
}
.container-skills h3 {
  font-size: 15px;
  font-family: "Eurostile Extended", sans-serif;
  color: #fff;
  font-weight: lighter;
}
.container-skills ul {
  list-style: none;
  font-weight: 600;
}
.container-skills ul img {
  width: 40px;
  padding: 1px;
}
.container-skills ul li {
  margin-top: 5px;
  font-size: 18px;
}
.lenguages {
  width: 50%;
}
.lenguages ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.dev-tools {
  width: 50%;
}
.dev-tools ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  gap: 3px;
}
.skill-bar {
  height: 5px;
  width: 65px;
  background: #6ec9fe;
  box-shadow: 0 0 10px #fff;
  margin-left: 10px;
}
.skill-bar span {
  background-color: #00000076;
  height: 5px;
  float: left;
}
.item-1 {
  width: 40%;
}
.item-2 {
  width: 20%;
}
.item-3 {
  width: 10%;
}
.item1,
.item2,
.item7 {
  width: 75%;
}
.item3,
.item4 {
  width: 60%;
}
.item5,
.item6 {
  width: 30%;
}

/* section project */
.section-projects {
  display: grid;
  width: 100%;
  justify-items: center;
  background-color: transparent;
}
.section-projects .container-card {
  width: 100%;
  background-color: transparent;
  color: #fff;
  height: 90%;
  border: none;
  margin-top: 100px;
}
.section-projects h2 {
  margin-top: 30px;
  font-family: "Eurostile Extended", sans-serif;
  letter-spacing: 4px;
  font-size: 2rem;
  color: #fff;
}
.container-card .container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container-grid {
  margin-top: 30px;
}
/* .container-card hr {
  margin-top: 2px;
  width: 80%;
} */

.container-grid .container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 300px;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 5px 5px 10px #6ec9fe;
  justify-content: space-between;
}
.container-grid article h2 {
  font-family: "Eurostile Extended", sans-serif;
  font-size: 22px;
  color: #127bf3;
  padding: 10px;
  margin-top: 15px;
  letter-spacing: 0;
}
.section-projects .container-card p {
  width: 100%;
  font-weight: 400;
  text-align: -webkit-left;
  padding: 20px;
  font-size: 14px;
  height: 95px;
}
.container-links {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  margin: 15px;
}
.container-links a {
  color: #000;
  border-radius: 45px;
  transition: all 0.5s linear;
}
.container-links a img {
  width: 30px;
}
.container-links a:hover {
  background-color: #6ec9fe;
  padding: 5px;
  transform: translateY(-10px);
}

/* section form */
.section-form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  background-color: #000;
}
.section-form .container-form {
  padding: 1rem;
  margin: 10px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.container-form h2 {
  font-family: "Eurostile Extended", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 25vw;
}
.form label {
  margin-bottom: 5px;
}
.form input {
  padding: 5px 15px;
  margin-bottom: 1em;
  background: none;
  border: 2px solid #127bf3;
  color: #fff;
  font-size: 18px;
}
::placeholder {
  color: #c2c4d3;
}
/* .form input:focus {
  border: 2px solid #8438db;
  background-color: rgba(0, 0, 0, 0.3);
} */
.form textarea {
  height: 100px;
  background: none;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  border: 1px solid #127bf3;
}
.btn-submit {
  padding: 20px 30px;
  margin: 20px 0px;
  border: 1px solid #127bf3;
  /* text-transform: uppercase; */
  background: none;
  border-radius: 35px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.btn-submit:hover {
  border: 1px solid #6ec9fe;
  background-color: #6ec9fe;
  color: #000;
}
#send-info {
  opacity: 0;
}
footer {
  background-color: #127bf3;
  width: 100%;
  display: grid;
  justify-items: center;
}
footer p {
  margin-top: 20px;
  font-family: "Eurostile Extended", sans-serif;
  width: 500px;
  text-align: center;
  padding: 5px;
  font-weight: 300;
  font-size: 16px;
  color: #c2c4d3;
}
footer p:nth-child(3) {
  font-size: 14px;
  margin-top: 0;
}
footer .container-redes {
  display: flex;
  justify-content: space-around;
  width: 350px;
  padding: 10px;
}
.container-redes a img {
  width: 40px;
}
.container-redes a {
  border-radius: 45px;
  padding: 10px;
  font-size: 1.5em;
  transition: all 1s linear;
}
.container-redes a:hover {
  background-color: #6ec9fe;
  transform: translateY(-10px);
}

@media (max-width: 1200px) {
  .brand img {
    width: 90px;
  }
  .list-ul a {
    font-size: 18px;
  }
  .info-content {
    width: 85%;
  }
  .info-content h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .info-content h2 {
    font-size: 15px;
  }
  .container-avatar img {
    width: 200px;
  }
  .container-devices img {
    width: 90%;
  }
  .container-info h1 {
    font-size: 1.8rem;
  }
  .container-info h2 {
    font-size: 16px;
  }
  .container-card {
    width: 35%;
  }
  .container-skills {
    width: 300px;
  }
  .section-projects h2 {
    font-size: 1.8rem;
  }
  .container-card .container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .container-grid .container-project {
    width: 365px;
    height: 235px;
  }
  .section-projects .container-card p {
    font-size: 18px;
  }
  .container-grid .container-project p {
    font-size: 15px;
  }
  .section-form .container-form {
    gap: 50px;
    padding: 2em;
  }
  .container-form h2 {
    font-size: 1.8rem;
  }
  .container-form h3 {
    font-size: 2.5em;
  }
  .form {
    width: 350px;
  }
  .form label {
    font-size: 15px;
  }
  .form textarea {
    height: 80px;
  }
  .btn-submit {
    font-size: 16px;
    padding: 15px 20px;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 80px;
    padding: 0;
  }
  .brand {
    display: none;
  }
  .list-ul {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .list-ul li {
    margin-top: 20px;
    text-align: center;
  }
  .list-ul li:nth-child(1) {
    margin-top: 30px;
  }
  .close-list {
    transform: translateX(-100%);
  }
  .toggle-menu {
    margin: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
  }
  .toggle-menu span {
    width: 35px;
    height: 4px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 8px 0px;
    transition: all 0.2s linear;
  }
  .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .close span:nth-child(2) {
    display: none;
  }
  .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  .open {
    transform: translateX(0);
  }
  .info-content {
    width: auto;
  }
  .info-content h1 {
    font-size: 1.6rem;
  }
  .info-content h2 {
    font-size: 12px;
    z-index: 0;
  }
  .container-avatar img {
    width: 150px;
  }
  .container-devices {
    display: none;
  }
  /* .section-skills {
    width: 350px;
  } */
  .container-card {
    height: 50vh;
    justify-content: center;
    gap: 35px;
  }
  .container-card img {
    width: 50px;
  }
  .container-card h2 {
    font-size: 1.6rem;
  }
  .container-card p {
    margin-top: 0px;
    font-size: 14px;
    width: 300px;
  }
  /* .container-card .container-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  } */
  .container-grid .container-project {
    width: auto;
    justify-content: space-around;
  }
  .container-grid .container-project p {
    font-size: 14px;
    padding: 10px;
    height: 100%;
    text-align: justify;
  }
  .container-links {
    padding: 10px;
    margin: 10px 0;
  }
  .container-links a img {
    width: 25px;
  }
  .section-form {
    margin: 0px;
  }
  .section-form .container-form {
    flex-direction: column;
    padding: 0;
    gap: 50px;
  }
  .container-form h2 {
    margin-top: 20px;
    font-size: 1.6rem;
  }
  .container-form h3 {
    font-size: 20px;
  }
  .form {
    margin-top: 0px;
    width: 300px;
  }
  .form label {
    font-size: 12px;
  }
  .btn-submit {
    padding: 15px 25px;
    font-size: 14px;
  }
  footer {
    background-color: #127bf3;
  }
  footer p {
    font-size: 14px;
    padding: 10px;
    width: auto;
  }
  footer p:nth-child(3) {
    font-size: 12px;
  }
  footer .container-redes {
    width: 175px;
    margin: 15px;
  }
  .container-redes a img {
    width: 30px;
  }
  .section-skills .container-card {
    height: 70vh;
    width: 50%;
  }
  .container-devices {
    display: none;
  }
  .container-info {
    width: 90%;
  }
  .container-info h1 {
    font-size: 1.6rem;
  }
  .container-info h2 {
    padding: 10px;
    font-size: 12px;
  }
  .download-cv {
    height: 45px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .navbar {
    height: 70px;
  }
  .brand img {
    width: 60px;
  }
  .info-content {
    height: 90px;
    margin-top: 40px;
    padding: 0px;
  }
  .info-content h1 {
    font-size: 1.2rem;
    padding: 0 2px;
  }
  .info-content h2 {
    position: relative;
    top: 165px;
    padding: 20px 10px;
  }
  .about-info {
    display: block;
  }
  .section-skills {
    display: none;
    padding-top: 20px;
    width: 100%;
  }
  .section-skills .container-card {
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  .container-info {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
  }
  .container-info h1,
  .container-info p {
    display: none;
  }
  .download-cv {
    margin: 40px 0 10px 0;
  }
  .container-card .img-chat {
    display: none;
  }
  .container-card p {
  }
  .container-skills {
    width: 200px;
    gap: 20px;
  }
  .container-skills ul img {
    width: 18px;
  }
  .skill-bar {
    height: 3px;
    width: 50px;
  }
  .skill-bar span {
    height: 3px;
  }
  .section-projects {
    margin-top: 20px;
  }
  .section-projects h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  .container-grid {
    margin-top: 10px;
  }
  .container-card {
    padding: 5px;
  }
  .container-card .container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-grid .container-project {
    height: 190px;
    width: 250px;
  }
  .container-grid .container-project p {
    font-size: 12px;
  }
  .container-links {
    gap: 20px;
    margin: 10px 0;
    padding: 10px;
  }
  .container-links a img {
    width: 25px;
  }
  .container-grid article h2 {
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
  }
  .container-form h2 {
    font-size: 1.2rem;
  }
  .form input {
    padding: 15px 15px;
    font-size: 12px;
  }
  .form textarea {
    height: 100px;
    padding: 1rem;
    font-size: 12px;
  }
  footer p {
    font-size: 14px;
  }
  footer p:nth-child(3) {
    font-size: 12px;
  }
  footer .container-redes {
    margin: 5px;
    padding: 0;
  }
}
